/* OTP */
.otp{
	color:red;
	/* padding:0px; */
	font-size:24px; 
	text-align:center;
	width:100%;
}

.time{
	width:100%
}

.form_otp{
	padding-left:23%;
	padding-right:23%;
	/* width:60%; */
	margin-top:20px;
}
.kol-otp{
	/* background-color: salmon; */
	/* border:1px solid black; */
	margin-left:10px
}
/* OTP */

.alert-ku{
	margin-left:90px;
	font-size:17px;
	padding-left:100px;
	padding-right:100px;
	padding-top:6px;
	padding-bottom:9px;
	color:#009432
}
.company-text-atas{
	margin-top: 0px;
}

.login-container{
	margin-top:135px;
	border:2px solid black;
	transition: .2s;
}
.login-container:hover{
	box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}

.form-atas{
	margin-top: 0px;
	background-color: #54a0ff;
}

 .cl-red {
	color: red;
}
.cl-black { 
	color: black;
}
.cl-orange{
	color:#e67e22;
}
.cl-birubni{
	color:#005e6a;
}
.bold {
	font-weight: bold;
}
.mylogin-page {
	background-image: url("../image/ballroomb.jpg");
	
}
.logo {
	color: black;
	font-weight: bold;
	background: rgba(236, 240, 241, 0.8);
	border-radius: 5px;
}
.login-box-body {
	background: rgba(236, 240, 241, 0.8);
}
.cl-black {
	color: black;
}
.bg-orange-bni {
	background-color: #f15a23;
}
.my-widget-body {
	background-color: rgba(236, 240, 241, 0.7);
}
.back {
	position: relative;
}
.mytemplate {
	left: 37.5%;
	border: 1px solid black;
	height: auto;
	position: absolute;
	width: 25%;
	text-align: center;
}

.company-text {
	color: #005e6a;
	background-color: transparent;
	padding-bottom: 4px;
	border-radius: 5px;
	width: 65%;
	margin: auto;
}
.bg-salmon {
	background-color: salmon;
}
.bg-red {
	background-color: #c0392b;
}
.border-utama {
	border: 2px solid rgba(41, 128, 185, 1);
}

.p-1 {
	padding: 2px;
}
.p-2 {
	padding: 4px;
}
.bg-blue-utama {
	background-color: rgba(41, 128, 185, 0.2);
}

.bg-text {
	background-color: transparent;
}

.bg-autogenerate {
	background-color: rgba(106, 176, 76, 0.2);
	border: 1px solid rgba(48, 51, 107, 0.3);
}

.my-form {
	height: 22px;
	padding: 6px 12px;
}
.my-formcall {
	height: 22px;
	padding: 6px 1px;
	margin: 0px;
}

.my-form-select {
	margin-bottom: 2px;
	height: 25px;
	padding: 0px;
	font-size: 13px;
}

#my-form-date {
	background-color: black;
}

.tyle-table-sales {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.btn-next {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
}
.head {
	background-color: rgba(41, 128, 185, 0.7);
	text-align: center;
	height: auto;
	color: white;
	font-size: 20px;
}
.pb-1 {
	padding-bottom: 2px;
}
.pt-2 {
	padding-top: 2px;
}
.pb-2 {
	padding-bottom: 2px;
}
.mb-1 {
	margin-bottom: 2px;
}
.mb-2 {
	margin-bottom: 4px;
}
.container {
	width: 99%;
}
.bg-turquoise {
	background-color: rgba(26, 188, 156, 1);
}
.bg-purple {
	background-color: rgba(155, 89, 182, 1);
}
.bg-emerald {
	background-color: rgba(46, 204, 113, 1);
}
.bg-sunflower {
	background-color: rgba(241, 196, 15, 1);
}
.mytable {
	text-align: center;
}
.colom {
	padding: 0px 10.5px;
}
.call-button {
	padding: 3px 6px;
}
.mybtn {
	background-color: rgba(196, 229, 56, 0.2);
	border: 1px solid rgba(41, 128, 185, 0.7);
	padding: 0px 20px;
	border-radius: 0px;
	transition: 0.2s;
}
.mybtn:hover {
	background-color: rgba(196, 229, 56, 0.8);
}
.border-yellow {
	border: 3px solid yellowgreen;
}
.text {
	font-size: 12px;
	font-weight: bold;
}
.myspan {
	display: block;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	height: 20px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: rgba(83, 92, 104, 0.1);
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
}


.opsi {
	border-top: 2px solid rgba(41, 128, 185, 1);
	border-bottom: 2px solid rgba(41, 128, 185, 1);
	border-left: 2px solid rgba(41, 128, 185, 1);
	border-left: 2px solid rgba(41, 128, 185, 1);
}
.border-custom-ask {
	border: 2px solid yellow;
}
.pb-3 {
	padding-bottom: 3px;
}
.mb-3 {
	margin-bottom: 30px;
}
.my-row {
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 1px;
}
.my-col-left {
	padding-left: 0%;
	padding-right: 0%;
}